### Code to impute attributes- these are the preferences that the respondent has to particular questions

In [1]:
# Dependencies and Setup

import numpy as np
import pandas as pd

# File to Load - Limit to waves 1-5 and 10-21 for 100 point allocation
file_to_load = "Resources/Speed_Dating_Data_wavelimit.csv"

# Read Speed Dating File and store into Pandas data frame
date_df = pd.read_csv(file_to_load)

#show first 5 records of dataframe
date_df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [2]:
#don't overwrite the original dataframe
date1_df = date_df

### Create a subset of variables that need the mean imputed
### List can be modified if needed
### Ease for a short coding step later

In [3]:
subset = ['attr1_1',
 'sinc1_1',
 'intel1_1',
 'fun1_1',
 'amb1_1',
 'shar1_1',
 'attr4_1',
 'sinc4_1',
 'intel4_1',
 'fun4_1',
 'amb4_1',
 'shar4_1',
 'attr2_1',
 'sinc2_1',
 'intel2_1',
 'fun2_1',
 'amb2_1',
 'shar2_1',
 'attr3_1',
 'sinc3_1',
 'fun3_1',
 'intel3_1',
 'amb3_1',
 'attr5_1',
 'sinc5_1',
 'intel5_1',
 'fun5_1',
 'amb5_1',
'attr1_s',
 'sinc1_s',
 'intel1_s',
 'fun1_s',
 'amb1_s',
 'shar1_s',
'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
'attr1_2',
 'sinc1_2',
 'intel1_2',
 'fun1_2',
 'amb1_2',
 'shar1_2',
 'attr4_2',
 'sinc4_2',
 'intel4_2',
 'fun4_2',
 'amb4_2',
 'shar4_2',
 'attr2_2',
 'sinc2_2',
 'intel2_2',
 'fun2_2',
 'amb2_2',
 'shar2_2',
'attr3_s',
 'sinc3_s',
 'fun3_s',
 'intel3_s',
 'amb3_s',
 'attr3_2',
 'sinc3_2',
 'fun3_2',
 'intel3_2',
 'amb3_2',
 'attr5_2',
 'sinc5_2',
 'intel5_2',
 'fun5_2',
 'amb5_2',
'attr1_3',
 'sinc1_3',
 'intel1_3',
 'fun1_3',
 'amb1_3',
 'shar1_3',
'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
'attr3_3',
 'sinc3_3',
 'intel3_3',
 'fun3_3',
 'amb3_3',
'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

### Impute the mean by each attribute for each missing attribute

In [4]:
#Fill missing values with the mean 
for column in subset:
    date1_df[column].replace(np.NaN, date1_df[column].mean(), inplace=True)

In [5]:
date1_df[subset].head()

,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,15.0,20.0,20.0,15.0,15.0,15.0,26.39436,11.071506,12.636308,15.566805,...,5.0,7.0,7.0,7.0,7.0,6.81002,7.615079,7.93254,7.155258,7.048611
1,15.0,20.0,20.0,15.0,15.0,15.0,26.39436,11.071506,12.636308,15.566805,...,5.0,7.0,7.0,7.0,7.0,6.81002,7.615079,7.93254,7.155258,7.048611
2,15.0,20.0,20.0,15.0,15.0,15.0,26.39436,11.071506,12.636308,15.566805,...,5.0,7.0,7.0,7.0,7.0,6.81002,7.615079,7.93254,7.155258,7.048611
3,15.0,20.0,20.0,15.0,15.0,15.0,26.39436,11.071506,12.636308,15.566805,...,5.0,7.0,7.0,7.0,7.0,6.81002,7.615079,7.93254,7.155258,7.048611
4,15.0,20.0,20.0,15.0,15.0,15.0,26.39436,11.071506,12.636308,15.566805,...,5.0,7.0,7.0,7.0,7.0,6.81002,7.615079,7.93254,7.155258,7.048611

### Load to CSV

In [6]:
date1_df.to_csv('imputed_attributes.csv', index=False)