### Survey respondent level for attribute preferences
### Note: Missing attributes are imputed

In [3]:
# Dependencies and Setup

import numpy as np
import pandas as pd

# File to Load - these are the attributes/preferences/opinions/perception fron the person taking the survey
file_to_load = "Resources/imputed_attributes.csv"

# Read Speed Dating File that is the personal preference survey responses and store into Pandas data frame
attr_df = pd.read_csv(file_to_load)

#show first 5 records of dataframe
attr_df.head()

,iid,id,gender,idg,condtn,wave,round,position,order,partner,...,sinc_3,intel_3,fun_3,amb_3,attr_5,sinc_5,intel_5,fun_5,amb_5,shar_5
0,1,1.0,0,1,1,1,10,7,4,1,...,7.556636,7.844149,7.448836,6.944615,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
1,1,1.0,0,1,1,1,10,7,3,2,...,7.556636,7.844149,7.448836,6.944615,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
2,1,1.0,0,1,1,1,10,7,10,3,...,7.556636,7.844149,7.448836,6.944615,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
3,1,1.0,0,1,1,1,10,7,5,4,...,7.556636,7.844149,7.448836,6.944615,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
4,1,1.0,0,1,1,1,10,7,7,5,...,7.556636,7.844149,7.448836,6.944615,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045

### Need to collapse the dataset since responses will be repeated for each match since it is the same survey respondent

In [5]:
#Drop any duplicates- this particular data is for the subject taking the survey
#Their answers will be the same for each date they go on since this is their own opinions/preferences
#Use other dataset for partner/match level data

attr_df.drop_duplicates(subset='iid', keep='first', inplace=False).head()

,iid,id,gender,idg,condtn,wave,round,position,order,partner,...,sinc_3,intel_3,fun_3,amb_3,attr_5,sinc_5,intel_5,fun_5,amb_5,shar_5
0,1,1.0,0,1,1,1,10,7,4,1,...,7.556636,7.844149,7.448836,6.944615,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
10,2,2.0,0,3,1,1,10,3,10,1,...,6.471522,8.882882,8.464037,5.303964,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
20,3,3.0,0,5,1,1,10,9,6,1,...,8.298283,8.223752,8.031198,7.623964,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
30,4,4.0,0,7,1,1,10,6,3,1,...,7.507005,7.739850,7.694862,6.867314,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045
40,5,5.0,0,9,1,1,10,4,1,1,...,6.128010,8.575157,8.447643,8.748288,26.279678,11.27263,12.105101,15.021821,9.449693,11.198045

### Load to CSV

In [6]:
attr_df.to_csv('Resources/imputed_attributes_collapsed.csv', index=False)